#root {
  color: red;
  padding: 2em;
  margin-top: 8vh;
}

/* Card Styling */
.card {
  margin-bottom: 1em;
}

.card-title {
  text-align: center;
}

.form-select {
  width: 150px !important;
}

/* footer */ 
footer {
  text-align: center;
  
}
